@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../src/assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  @media (max-width:430px) {
      height: 880px;
    }
}

.cardbg {
  width: 100%;
  background-repeat: no-repeat;
  height: 88%;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2%;

  @media (max-width:430px) {
    height: 304px;
    width: 335px;
  }
}
